.featured {
    height: 600px;
    display: flex;
    justify-content: center;
    background-color: #013914;
    color: white;

    .container {
        width: 74%;
        display: flex;
        align-items: center;

        .left {
            display: flex;
            flex-direction: column;
            gap: 30px;
            width: 50%;

            h1 {
                font-size: 50px;
            }

            span {
                font-style: italic;
                font-weight: 200;
            }

            .search {
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: white;
                border-radius: 5px;

                .searchInput {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    width: 100%;

                    input {
                        border: none;
                        outline: none;
                        height: 40px;
                        font-size: 15px;
                        width: 100%;
                        margin-left: 20px;
                    }
                }
                button {
                    width: 80px;
                    height: 50px;
                    border: none;
                    background-color: #1dbf73;
                    color: white;
                    cursor: pointer;
                    border-radius: 0 5px 5px 0;

                    img {
                        width: 20px;
                        height: 20px;
                        filter: invert(100%) sepia(0%) saturate(0%)
                            hue-rotate(85deg) brightness(105%) contrast(102%);
                    }
                }
            }
            .popular {
                display: flex;
                align-items: center;
                gap: 10px;

                span {
                }
                button {
                    color: white;
                    background-color: transparent;
                    border: 1px solid white;
                    padding: 5px 10px;
                    border-radius: 20px;
                    font-size: 14px;
                    cursor: pointer;
                }
            }
        }

        .right {
            height: 100%;

            img {
                height: 100%;
                object-fit: contain;
            }
        }
    }
}
